<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddressService" />
                <binding name="BasicHttpBinding_IAddressService1" />
                <binding name="BasicHttpBinding_IRiskAssessmentService" />
                <binding name="BasicHttpBinding_IRiskQuestionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64972/PWSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAddressService" contract="PWS_Proxy.IAddressService"
                name="BasicHttpBinding_IAddressService" />
            <endpoint address="http://localhost:64972/PWSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAddressService1" contract="PSW_Service.IAddressService"
                name="BasicHttpBinding_IAddressService1" />
            <endpoint address="http://localhost:64972/PWSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRiskAssessmentService"
                contract="PSW_Service.IRiskAssessmentService" name="BasicHttpBinding_IRiskAssessmentService" />
            <endpoint address="http://localhost:64972/PWSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRiskQuestionService"
                contract="PSW_Service.IRiskQuestionService" name="BasicHttpBinding_IRiskQuestionService" />
        </client>
    </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>