<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddressService" />
                <binding name="BasicHttpBinding_IRiskAssessmentService" />
                <binding name="BasicHttpBinding_IRiskQuestionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64972/PWSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAddressService" contract="PWS_Proxy.IAddressService"
                name="BasicHttpBinding_IAddressService" />
            <endpoint address="http://localhost:64972/PWSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRiskAssessmentService"
                contract="PWS_Proxy.IRiskAssessmentService" name="BasicHttpBinding_IRiskAssessmentService" />
            <endpoint address="http://localhost:64972/PWSService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRiskQuestionService"
                contract="PWS_Proxy.IRiskQuestionService" name="BasicHttpBinding_IRiskQuestionService" />
        </client>
    </system.serviceModel>
</configuration>