USE [master]
GO

/****** Object:  Database [PWS_Database]    Script Date: 14/10/2015 15:34:17 ******/
CREATE DATABASE [PWS_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PWS_Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PWS_Database.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PWS_Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PWS_Database_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PWS_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PWS_Database]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 14/10/2015 15:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[ID] [int] NOT NULL identity(1,1) unique,
	[Name] [nvarchar](max) NULL,
	[AddressLine1] [nvarchar](max) NULL,
	[AddressLine2] [nvarchar](max) NULL,
	[AddressLine3] [nvarchar](max) NULL,
	[AddressLine4] [nvarchar](max) NULL,
	[Postcode] [nvarchar](max) NULL,
	[Telephone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[RiskAssessmentID] [int] NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RiskAssessments]    Script Date: 14/10/2015 15:34:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RiskAssessments](
	[ID] [int] NOT NULL identity(1,1) unique,
	[LocalAuthority] [nvarchar](max) NULL,
	[SupplyReference] [nvarchar](max) NULL,
	[SupplyName] [nvarchar](max) NULL,
 CONSTRAINT [PK_RiskAssessments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[RiskAssessments] ([LocalAuthority], [SupplyReference], [SupplyName]) VALUES (N'uyu', N'jjgh', N'ug')
/****** Object:  Index [IX_FK_RiskAssessmentAddress]    Script Date: 14/10/2015 15:34:17 ******/
CREATE NONCLUSTERED INDEX [IX_FK_RiskAssessmentAddress] ON [dbo].[Addresses]
(
	[RiskAssessmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_RiskAssessmentAddress] FOREIGN KEY([RiskAssessmentID])
REFERENCES [dbo].[RiskAssessments] ([ID])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_RiskAssessmentAddress]
GO
USE [master]
GO
